ignore-engines true
# @angular/animations@17.3.12: The engine "node" is incompatible with this module. Expected version "^18.13.0 || >=20.9.0". Got "20.5.1"
# 20.5.1 is on the server and works just fine
