<div class="columns">
    <div class="column is-8">
        <h1 class="title" translate>Wisselwerking Geesteswetenschappen</h1>
        <div class="content">
            <p class="has-text-weight-bold">
                {{overviewIntro}}
            </p>

            <h2 class="subtitle">{{whenAndWhomTitle}}</h2>
            <p>
                {{whenAndWhomExplain}}
            </p>

            <h2 class="subtitle" translate>Bij wie kun je op bezoek?</h2>
            @if (sessions) {
            <nav class="buttons">
                @for (session of sessions; track session.pk) {
                <a class="button" [ngClass]="{'is-primary': interested[session.pk]}" (click)="scrollTo(session)">
                    @if (interested[session.pk]) {
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    }
                    <span>{{session.title}}</span>
                </a>
                }
            </nav>
            }
        </div>

        @for (session of sessions; track session.pk) {
        <div class="box">
            <a [name]="session.pk"></a>
            <wsl-exchange-session [session]="session" [interested]="interested[session.pk]"
                (interestedChange)="updateList(session.pk, $event)"></wsl-exchange-session>
        </div>
        }
    </div>
    <div class="column is-4">
        <div class="box sticky">
            <div class="content">
                @if (interestedList) {
                <h2 class="subtitle" translate>Meedoen?</h2>
                <p>
                    <span translate="registerUntil"></span>&nbsp;<span class="highlight">{{deadline}}</span>.
                </p>
                <ul>
                    @for (session of interestedList; track session.pk) {
                    <li>{{session.title}}</li>
                    }
                </ul>
                }
                <a class="button" [routerLink]="['/registration']" translate [ngClass]="{'is-primary': interestedList.length}">Aanmelden</a>
            </div>
        </div>
        <div class="scroll-to-top">
            <button class="button is-black" (click)="scrollUp()">
                <span class="icon">
                    <fa-icon [icon]="faCircleChevronUp"></fa-icon>
                </span>
                <span translate>Omhoog</span>
            </button>
        </div>
    </div>
</div>
