@if (thankYou) {
<wsl-thank-you [firstName]="registration.firstName"></wsl-thank-you>
}
@else {
<form class="container is-max-desktop" #form="ngForm"
    (ngSubmit)="checkValidation(form.form) && form.form.valid && submit()">
    <h1 class="title" translate="registration.title"></h1>

    <p>{{ 'registration.explain' | translate }}</p>

    <div class="mt-5">
        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Taal</span>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <button (click)="setLanguage('nl')" class="button"
                            [ngClass]="{'is-primary': currentLanguage=='nl'}">Nederlands</button>
                    </p>
                    <p class="control">
                        <button (click)="setLanguage('en')" class="button"
                            [ngClass]="{'is-primary': currentLanguage=='en'}">English</button>
                    </p>
                </div>
            </div>
        </label>

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Naam</span>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <input required class="input" type="text" placeholder="{{ 'Voornaam' | translate }}"
                            name="firstName" [(ngModel)]="registration.firstName" #firstName="ngModel"
                            [ngClass]="{'is-danger': firstName.dirty && firstName.hasError('required')}" />
                        @if (firstName.dirty && firstName.hasError('required')) {
                    <p class="help is-danger" translate>Naam vereist</p>
                    }
                    </p>
                    <p class="control" style="max-width:10em">
                        <input class="input" type="text" placeholder="{{ 'Tussenvoegsel' | translate }}"
                            name="tussenvoegsel" [(ngModel)]="registration.tussenvoegsel" />
                    </p>
                    <p class="control is-expanded">
                        <input required class="input" type="text" placeholder="{{ 'Achternaam(en)' | translate }}"
                            name="lastName" [(ngModel)]="registration.lastName" #lastName="ngModel"
                            [ngClass]="{'is-danger': lastName.dirty && lastName.hasError('required')}" />
                        @if (lastName.dirty && lastName.hasError('required')) {
                    <p class="help is-danger" translate>Naam vereist</p>
                    }
                    </p>
                </div>
            </div>
        </label>

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Afdeling</span>
            </div>
            <div class="field-body">
                <!-- <div class="field has-addons" [ngClass]="{'has-addons': registration.department === 'anders'}">
                    <div class="control">
                        <div class="select is-fullwidth" [ngClass]="{'is-danger': departmentInvalid}">
                            <select [(ngModel)]="registration.department" name="department" #department="ngModel"
                                (focus)="departmentInvalid=false">
                                <option value="---">&mdash;</option>
                                @for (department of departments$ | async; track department.slug) {
                                <option [value]="department.slug">{{department.title}}</option>
                                }
                                <option value="anders" translate>Anders namelijk...</option>
                            </select>
                        </div>
                    </div>
                    @if (registration.department === 'anders') { -->
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" placeholder="{{ 'Afdelingsnaam' | translate }}"
                            name="departmentOther" [(ngModel)]="departmentOther" required
                            (focus)="departmentInvalid=false" [ngClass]="{'is-danger': departmentInvalid}" />
                    </p>
                    @if (departmentInvalid) {
                    <p class="help is-danger" translate>Afdeling vereist</p>
                    }
                </div>
                <!-- }

                </div> -->
            </div>
        </label>

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>E-mailadres</span>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input required class="input" type="email" email placeholder="{{ 'E-mailadres' | translate }}"
                            name="email" [(ngModel)]="registration.email" #email="ngModel"
                            [ngClass]="{'is-danger': email.dirty && !email.valid}" #emailInput />
                    </p>
                    @if (email.dirty && !email.valid) {
                    <p class="help is-danger" translate>Geldig e-mailadres vereist</p>
                    }
                </div>
            </div>
        </label>

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Keuzes</span>
            </div>
            <div class="field-body">
            </div>
        </label>

        @for (priority of sessionPriorities$ | async; track priority.session.pk; let first = $first; let last = $last) {
        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label">
                    {{priority.priority}}
                </span>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <button class="button" type="button"
                            (click)="updatePriority(priority.session.pk, priority.priority - 1)" [disabled]="first">
                            <span class="icon is-small">
                                <fa-icon [icon]="faChevronUp"></fa-icon>
                            </span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button" type="button"
                            (click)="updatePriority(priority.session.pk, priority.priority + 1)" [disabled]="last">
                            <span class="icon is-small">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button" type="button">
                            {{priority.session.title || ('registration.surprise' | translate) }}
                        </button>
                    </p>
                    <p class="control">
                        <button class="button" type="button" (click)="remove(priority.session.pk)">
                            <span class="icon is-small">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </span>
                        </button>
                    </p>
                </div>
            </div>
        </label>
        }

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label"><!-- empty--></span>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth" [ngClass]="{'is-danger': choiceInvalid}">
                            <select [(ngModel)]="selectedSession" name="session">
                                <option value="0">» {{ 'registration.surprise' | translate }}</option>
                                @for (session of sessions$ | async; track session.pk) {
                                <option [value]="session.pk">{{session.title}}
                                    @if (session.full) {
                                    &mdash; {{ 'VOL!' | translate }}
                                    }
                                </option>
                                }
                            </select>
                        </div>
                        @if (choiceInvalid) {
                        <p class="help is-danger" translate>Keuze vereist</p>
                        }
                    </div>
                    <p class="control">
                        <button type="button" class="button" (click)="add()" [ngClass]="{'is-danger': choiceInvalid}"
                            translate>Toevoegen</button>
                    </p>
                </div>
            </div>
        </label>

        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Opmerkingen</span>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" type="text" placeholder="{{ 'Opmerkingen' | translate }}"
                            name="notes" [(ngModel)]="registration.notes"></textarea>
                    </p>
                </div>
            </div>
        </label>
        <label class="field is-horizontal">
            <div class="field-label is-normal">
                <span class="label" translate>Reden van deelname</span>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" [(ngModel)]="registration.reason" name="reason" />
                    </p>
                    <p class="help" translate>(optioneel)</p>
                </div>
            </div>
        </label>
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary" [ngClass]="{'is-loading': submitting}"
                            translate>Verstuur!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}
