@use 'variables' with ( // University Brand Colors
    $primary: #FFCD00,
    $green: #24A793,
    $red: #C00A35,
    $yellow: #FFCD00,
    $blue: #5287C6);
@use 'bulma/bulma';

$highlight: var(--bulma-warning);
$highlight-text: var(--bulma-warning-invert);

.highlight {
    background: $highlight;
    color: $highlight-text;
}

@media print {

    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }

    .ui-table .ui-table-thead,
    .ui-table .ui-table-tbody,
    .ui-table .ui-table-tfoot {

        >tr>th,
        >tr>td {
            border: solid 1px variables.$dark !important;
        }
    }
}
