<footer class="footer is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle" translate>Wisselwerking</h1>
                    <div class="content">
                        <p>
                            <a [href]="environment.sourceUrl" target="_blank" translate>Source code</a>&nbsp;<ng-container translate>(BSD 3-Clause License)</ng-container>
                        </p>
                        <p>
                            <em>{{ 'version' | translate:{version: environment.version} }}&nbsp;(<span [title]="environment.buildTime">{{buildTime}})</span></em>
                        </p>
                    </div>
                </div>
                <div class="column has-text-right-tablet is-narrow">
                    <a class="centre-logo image"
                        href="https://cdh.uu.nl/about/research-software-lab/" target="_blank">
                        <img [src]="environment.assets + (dark ? '/uu-cdh-dark.svg' :'/uu-cdh.svg')"
                            alt="Centre for Digital Humanities, Utrecht University" i18n-alt width="450" height="105" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
